@import url('https://fonts.cdnfonts.com/css/poppins');
/* Color pallet for application*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--background);
}
@media (prefers-color-scheme: light) {
    :root {
        --text: #26243d;
        --text-50: #433e6b;
        --background: #f1f1f1;
        --toast-background: rgb(255, 255, 255);
        --toast-blur: blur(20px);
        --icon-color: #7ace5c;
        --success: #6db933;
        --primary: #4f43b6;
        --primary-50: rgb(165, 158, 231);
        --secondary: #32248f;
        --secondary-50: rgba(110, 104, 199, 0.8);
        --accent: #a8a0d7;
        --shadow-input: -2px 17px 34px -3px rgba(0,0,0,0.1);
        --gradient-primary: linear-gradient(to left top, #5038ed, #624cf0, #735ef2, #8270f3, #9181f4);
        --text-white: #fff;
        --alert: #be3a3a
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #c4c2db;
        --text-50: #b2b0c7;
        --background: #0f1010;
        --icon-color: #599344;
        --success: #6db933;
        --toast-background: rgb(85, 68, 168);
        --toast-blur: 20px;
        --primary: #5449bc;
        --primary-50: rgba(110, 104, 199);
        --secondary: #7e70db;
        --secondary-50: rgba(145, 129, 204, 0.94);
        --accent: rgb(168, 160, 215);
        --shadow-input: -2px 17px 34px -3px rgba(126, 112, 219, 0.15);
        --gradient-primary: linear-gradient(to left top, #5038ed, #624cf0, #735ef2, #8270f3, #9181f4);
        --text-white: #fff;
        --alert: #be3a3a
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    color: var(--text);
    gap: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
}

.pagination a {
    text-decoration: none;
    color: var(--text);
}

.pagination a.active {
    color: var(--primary-50);
}

.result-num {
    font-size: 1.1rem;
    margin-left: 0.7rem;
}
